.container {
    display: grid;
    place-items: center;
    /* row-gap: 2rem; */
}

.semester-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.semester-left-column>Button,
.semester-right-column>Button {
    width: 14rem;
    font-size: 1rem;
    padding: 1.5rem;
}

.semester-left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.semester-right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.semester-title {
    font-size: 7vw;
    font-weight: bold;
    padding: 3rem 0;
}

/* Select Branch css */

.branch-title {
    font-size: 7vw;
    font-weight: bold;
    padding: 3rem 0;
}

.branch-main-container {
    display: flex;
    gap: 1.2rem;
    padding: 2.5rem;
}

.branch-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 13vw;
    height: 8vh;

}

.branch-btn p {
    font-size: 1rem;
}


/* card css */
#main-card{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.2fr 1fr 1fr .2fr 1fr 1fr;
    grid-template-areas:
        "tit-1 tit-1 tit-1"
        "5c1 5c2 5c3"
        "5c4 5c5 5c6"
        "tit-2 tit-2 tit-2"
        "6c1 6c2 6c3"
        "6c4 6c5 6c6";
    text-align: center;
    /* background-color: none; */
    padding: 0 120px;
    gap: 0.5rem;
}


#title1 {
    grid-area: tit-1;
    border-radius: 5px;
    /* background-color: red; */
    padding: 1.5rem;
    font-size: 4.8vw;
}

#title2 {
    grid-area: tit-2;
    border-radius: 5px;
    /* background-color: red; */
    padding: 1.5rem;
    font-size: 4.8vw;
}

#five-card-1 {
    grid-area: 5c1;
    border-radius: 5px;
    background-color:#ddd;
}

#five-card-2 {
    grid-area: 5c2;
    border-radius: 5px;
    background-color: #ddd;
}

#five-card-3 {
    background-color: #ddd;
    grid-area: 5c3;
    border-radius: 5px;
}

#five-card-4 {
    background-color: #ddd;
    grid-area: 5c4;
    border-radius: 5px;
}

#five-card-5 {
    background-color: #ddd;
    grid-area: 5c5;
    border-radius: 5px;
}

#five-card-6 {
    background-color: #ddd;
    grid-area: 5c6;
    border-radius: 5px;
}

#six-card-1 {
    background-color: #ddd;
    grid-area: 6c1;
    border-radius: 5px;
}

#six-card-2 {
    background-color: #ddd;
    grid-area: 6c2;
    border-radius: 5px;
}

#six-card-3 {
    background-color: #ddd;
    grid-area: 6c3;
    border-radius: 5px;
}

#six-card-4 {
    background-color: #ddd;
    grid-area: 6c4;
    border-radius: 5px;
}

#six-card-5 {
    background-color: #ddd;
    grid-area: 6c5;
    border-radius: 5px;
}

#six-card-6 {
    background-color: #ddd;
    grid-area: 6c6;
    border-radius: 5px;
}

.cse-card{
    padding:2rem 1rem;
}

.subject-id{
    font-size: 3vw;
    padding-bottom: 1rem;
}

.subject-name{
    font-size: 1.8vw;
    padding-bottom: 1.5rem;
}
