.container {
    display: grid;
    place-items: center;
    /* row-gap: 2rem; */
}

.semester-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.semester-left-column>Button,
.semester-right-column>Button {
    width: 14rem;
    font-size: 1rem;
    padding: 1.5rem;
}

.semester-left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.semester-right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.semester-title {
    font-size: 7vw;
    font-weight: bold;
    padding: 3rem 0;
}

/* Select Branch css */

.branch-title {
    font-size: 7vw;
    font-weight: bold;
    padding: 3rem 0;
}

.branch-main-container {
    display: flex;
    gap: 1.2rem;
    padding: 2.5rem;
}

.branch-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 13vw;
    height: 8vh;

}

.branch-btn p {
    font-size: 1rem;
}


